.dom-node{
    border: 2px solid #4f0098;
    background-color: #c382ff;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.node-tag-name{
    font-size: 15px;
    font-weight: bold;
    color: #4f0098;
    margin: 0;
}