.wrapper{
  height:100vh;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.card {
   width:rem(280px);
    height: rem(300px);
    background-size:contain;
    background-position: center;
    background-image: url(https://th.bing.com/th/id/OIP.s1trTdMPV0CS2KUolDt2HwHaJQ?rs=1&pid=ImgDetMain);
    border-top-right-radius: 40px;
    position: relative;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    inset: 0;
    padding: var(--mantine-spacing-xl);
    z-index: 1;
  }
  
  /* .action {
    position: absolute;
    bottom: var(--mantine-spacing-xl);
    right: var(--mantine-spacing-xl);
  } */
  
  .title {
    padding-top:rem(50px);
    color: var(--mantine-color-white);
    margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  }
  
  .description {
    color: var(--mantine-color-white);
    max-width: rem(220px);
  }
  
  .overlay {
    background-color: transparent;
    background-image: linear-gradient(
      105deg,
      var(--mantine-color-black) 20%,
      #312f2f 50%,
      var(--mantine-color-gray-4) 100%
    );
  }
  .btn{
    height:rem(50px);
    width:rem(200px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .btn_icon{
    color:white;
    padding: 2px;

  }
  .btn_style:hover{
    border:4px solid #0934f5;
  }
  .pip{
    position:absolute;
    top:5px;
    right:5px;
    background-color: transparent;
    margin: 10px;
  
    
  }
  .place{
    padding:1px;
  
    background-color: transparent;
  }
  .pip:hover{
    background-color: transparent;
    border:2.5px solid #166eb9;
  }