.domNode{
    border-radius: 50px;
    border: 4px solid #35dfb4;
    background-color: #ae00f3;    
/* 
    this section provide style to the overall node */

    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nodeTagName{
    font-size: 15px;
    font-weight: bold;
    color: #fafdff;   
           /* this is provide to the name of node present in the circle */
    margin: 0;
}
.inputField{
    outline:none;
    width:80%;
    margin-right: 8px;
    padding:4px;
}
.btn_dom{
    text-align: center;
    border-radius: 5%;
}
.parent_react_flow{
    position: relative;
}
.btn_zoom{
    position: absolute;
    top:0;
    right:0;
    right:3px;
    z-index: 20;
}
.react_flow{
    margin-top:5px;
}
.input_area{
    display: flex;
    background-color: orange;
    color:aqua
}
