.header {
  height: rem(56px);
  /* margin-bottom: rem(120px); */
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  background-blend-mode:difference;

}

.title {
  text-decoration: none;
}
.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.link {
  display: block;
  line-height:1;
  padding: rem(6px) rem(12px);
  /* border-radius: var(--mantine-radius-sm); */
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.linkLabel {
  margin-right: rem(5px);
}

.linkLabel {
  font-size: 19px;
}

.link {
  font-size: 17px;
  
}
/* navbar.module.css */

.link {
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  padding-bottom:3px;
  color: #007bff;  
}

.link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #007bff;  
  transition: width 0.1s ease-in-out;
}

.link:hover::after {
  margin-left:10px;
  width: 75%;
}

.linkActive{
  border-bottom: 3px solid #007bff;
}